@model IEnumerable<RPBDlab3_Netkachev_Ustinov.Models.Orders>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Добавить</a>
</p>
<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Введите текст" aria-label="Search" value="" />
        <div class="input-group-append">
        </div>
        <select id="searchColumn" name="searchColumn" class="form-control" value="">
            <option value="name">Имя покупателя</option>
            <option value="productname">Название товара</option>
            <option value="orderdate">Дата заказа</option>
            <option value="orderstatus">Статус заказа</option>
            <option value="address">Адрес ПВЗ</option>
            <option value="pts">Количество товара</option>
            <option value="deliverydate">Дата доставки</option>
        </select>
        <button type="submit" class="btn btn-secondary">Поиск</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomerSortParam"]">@Html.DisplayNameFor(model => model.Customer.CustomerName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductSortParam"]">@Html.DisplayNameFor(model => model.Product.ProductName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderDateSortParam"]">@Html.DisplayNameFor(model => model.OrderDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderStatusSortParam"]">@Html.DisplayNameFor(model => model.OrderStatus.StatusString)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PickupPointSortParam"]">@Html.DisplayNameFor(model => model.PickupPoint.PickupPointAddress)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParam"]">@Html.DisplayNameFor(model => model.AmountOfProducts)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DeliveryDateSortParam"]">@Html.DisplayNameFor(model => model.DeliveryDate)</a>
            </th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Customer.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderStatus.StatusString)</td>
                <td>@Html.DisplayFor(modelItem => item.PickupPoint.PickupPointAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.AmountOfProducts)</td>
                <td>@Html.DisplayFor(modelItem => item.DeliveryDate)</td>
                <td>
                    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString10", $("#searchString").val());
                localStorage.setItem("searchColumn10", $("#searchColumn").val());
            });

            var savedSearchString = localStorage.getItem("searchString10");
            var savedSearchColumn = localStorage.getItem("searchColumn10");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/updateHub") // Путь к хабу
            .build();

        connection.on("SendUpdateNotification", function () {
            location.reload(true);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
<div class="text-center">
    <a text-align="center" asp-action="ExportToExcel" class="btn btn-success">Export to Excel</a>
    <a text-align="center" asp-action="ExportToWord" class="btn btn-primary">Export to Word</a>
</div>